<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {{#link-to 'index' class="navbar-brand"}}Testware{{/link-to}}
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{#link-to 'index' tagName="li"}}
                        <a><span class="glyphicon glyphicon-home"></span> Home</a>
                    {{/link-to}}
                    {{#link-to 'secret' tagName="li"}}
                        <a><span class="glyphicon glyphicon-floppy-disk"></span> Secret</a>
                    {{/link-to}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if session.isLoggedin}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {{format-name session.name}} 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {{#link-to 'profile' tagName="li"}}
                                <a><span class="glyphicon glyphicon-cog"></span> Profile</a>
                            {{/link-to}}
                            <li class="divider"></li>
                            <li>
                                <a {{action 'logout'}}><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </li>
                    {{else}}
                        {{#link-to 'login' tagName="li"}}
                            <a><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        {{/link-to}}
                    {{/if}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {{outlet}}
</div>
