<div class="container">
<h2 id='title'>Welcome to Testing software v0.1</h2>
{{#link-to 'index'}}index{{/link-to}}
{{#if session.isLoggedin}}
    {{session.name}}
    <button {{action 'logout'}}>logout</button>
{{else}}
    {{#link-to 'login'}}login{{/link-to}}
{{/if}}
{{#link-to 'secret'}}secret{{/link-to}}
<hr>
{{outlet}}
</div>
