User Profile<br><br>
<b>name</b>  : {{session.name}}<br>
<b>email</b> : {{session.email}}<br><br>
<a href="http://www.gravatar.com" target="_blank" title="Change avatar">
    {{gravatar-image email=session.email size=200 data-style="img-thumbnail"}}
</a>
