Quiz<br>
{{input type="text" value=title placeholder="quiz title..."}}<br>
{{textarea value=question placeholder="question..."}}<br>
<button {{action 'delete' this}}>Delete</button>
<button {{action 'save' this}}>Save</button>
