New Quiz<br>
{{input type="text" value=title placeholder="quiz title..."}}<br>
{{textarea value=question placeholder="question..."}}<br>
<button {{action 'save'}}>Save</button>
<button {{action 'cancel'}}>Cancel</button>

